:root{
  --background_color:#52796F;
  --light_color: #CAD2C5;
  --primary_color: #84A98C;
  --primary_color_700: #5C8464;
  --primary_color_800: #4B6C52;
  --dark_color: #2F3E46;
  --radius: 10px;
  --padding: 15px;
  --shadow_color: #33333333;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100vh;
  background-color: var(--background_color);
  color: white;
}

.os-input{
  background-color: var(--light_color);
  border-radius: var(--radius);
  border: none;
  box-shadow: 0px 0px 2px 2px var(--shadow_color);
  padding: var(--padding);
  width: 100%;
}

.os-button{
  border-radius: var(--radius);
  padding: var(--padding);
  box-shadow: 0px 4px 5px 5px var(--shadow_color);
  border: none;
  background-color: var(--primary_color);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.os-button.icon{
  font-size: 25px;
}

.os-button:hover {
  background-color: var(--primary_color_700);
}

.os-button:active{
  background-color: var(--primary_color_800);
}

.os-input:focus-visible{
  border: none;
  outline: none;
}

.os-button:focus-visible {
  border: none;
  outline: none;
}

.os-btn-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.os-btn-container > .os-button{
  min-width: 210px;
}

.os-arrow {
  font-size: 55px;
}

.os-h1{
  
}

.os-p-home{
  font-size: 30px;
}

.os-f-inline
{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
}

#form-central{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

/*
  MODAL style
*/

.os-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #00000022;
  top: 0px;
  left: 0px;
  overflow: auto;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.os-modal-header{

}
.os-modal-body {

}
.os-modal-footer{

}


/**BackupNotifier*/
.os-backup-live{
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}